<div>

    <h1>DETAILS</h1>

    <ol>
        <li>Keana Clarisse E. Consebido</li>
        <li>20 years old</li>
        <li>Female</li>
        <li>Buco, Talisay, Batangas</li>
    </ol>

    <h1>IMAGE</h1>

    <img src="https://th.bing.com/th/id/OIP.XVoz_puOSAsqZZPDirVq9wHaKf?rs=1&pid=ImgDetMain" alt="Amity Blight from the Owl House. She is me" style="width:150px;height:250px;">
</div>

<div>
    <h1>TABLE</h1>

    <table>
        <tr>
            <th>Name of Game</th>
            <th>Player Name</th>
            <th>Game Title/Rank</th>
        </tr>
        <tr>
            <td>Genshin Impact</td>
            <td>Kaye</td>
            <td>Adevnture Rank 60</td>
        </tr>
        <tr>
            <td>Honkai Impact</td>
            <td>Kaye</td>
            <td>Trailblazer Rank 25</td>
        </tr>
        <tr>
            <td>Reverse: 1999</td>
            <td>Kaye</td>
            <td>Level 2</td>
        </tr>
        <tr>
            <td>Wanderer</td>
            <td>Catalyst</td>
            <td>Sumeru</td>
        </tr>
    </table>
</div>