<div>

    <h1>DETAILS</h1>

    <ol>
        <li>Keana Clarisse E. Consebido</li>
        <li>20 years old</li>
        <li>Female</li>
        <li>Buco, Talisay, Batangas</li>
    </ol>

    <h1>IMAGE</h1>

    <img src="https://th.bing.com/th/id/OIP.XVoz_puOSAsqZZPDirVq9wHaKf?rs=1&pid=ImgDetMain" style="width:150px;height:250px;">
</div>

<div>
    <h1>TABLE</h1>

    <table>
        <tr>
            <th>Character</th>
            <th>Weapon</th>
            <th>Nation</th>
            <th>Priority Stat</th>
        </tr>
        <tr>
            <td>Venti</td>
            <td>Bow</td>
            <td>Mondstadt</td>
            <td>EM</td>
        </tr>
        <tr>
            <td>Xiao</td>
            <td>Polearm</td>
            <td>Liyue</td>
            <td>Crt Rate/Damage</td>
        </tr>
        <tr>
            <td>Kazuha</td>
            <td>Sword</td>
            <td>Inazuma</td>
            <td>EM</td>
        </tr>
        <tr>
            <td>Wanderer</td>
            <td>Catalyst</td>
            <td>Sumeru</td>
            <td>Crt Rate/Damage</td>
        </tr>
    </table>
</div>